.wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
    background-color: #e2dac6;
    align-items: center;
    height: 60px;
    box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.7);

    .left {
        display: flex;
        align-items: center;
    }

    img {
        margin: 0 20px 0 15px;
    }

    .link-container {
        display: flex;
        align-items: center;
        padding: 0 10px;
        margin: 0 4px;
        height: 35px;
        border-radius: 4px;
        cursor: pointer;

        .icon {
            margin-right: 4px;
            font-size: 18px;
            width: 18px;
            height: 18px;
        }
        .text {
            font-size: 18px;
        }
        &.active {
            background-color: rgba(156,204,101, 0.8);
        }
        &:hover:not(.active) {
            background-color: rgba(156,204,101, 0.4);
        }
    }

    .right {
        ::ng-deep .mat-button-toggle-group {
            height: 30px;
            .mat-button-toggle {
                height: 100%;
                &.mat-button-toggle-appearance-standard {
                    background-color: rgba(156,204,101, 0.4);
                }
                &.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
                    background-color: rgba(156,204,101, 1);
                }
                .mat-button-toggle-button {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
            }
        }

        // ::ng-deep .mat-button-toggle-button {
        //     display: flex;
        //     align-items: center;
        //     height: 100%;
        // }

    }
}